<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="text-align: center;">Counter</h1>
    <p> {{ session['count'] }} </p>
    <p> </p>
    <div style="display:flex; justify-content:center">
        <form action="/add_session">
            <input type="submit" value="+2" name="add" id="add">
        </form>
        <form action="/destroy_session">
            <input type="submit" value="DESTROY" name="destroy" id="destroy">
        </form>
        <form action="/reset">
            <input type="submit" value="Reset" name="reset" id="reset">
        </form>
        <form action="/input" method="post">
            <input type="text" name="input" id="">
        </form>
    </div>
</body>
</html>